.form-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.input-box {
  border-radius: 4px;
  padding: 4px;
  resize: none;
}

.submit-button {
  align-self: flex-end;
  font-size: 12px;
}
