#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

h2 {
  align-self: flex-start;
}

.comment-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  background-color: lightseagreen;
  overflow: hidden;
}

.form-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.submit-button {
  align-self: flex-end;
  font-size: 10px;
}

.comment-list {
  width: 100%;
  overflow-y: scroll;
  margin-right: 40px;
}
